<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cauchy.mybatis.mapper.OrderCustomMapper">
	<!-- 查询订单关联用户信息 -->
	<select id = "findOrderUser" resultType = "com.cauchy.mybatis.po.OrderCustom">
		select orders.*,user.username,user.sex,user.address from orders,user 
		where orders.user_id = user.id;
	</select>
	<resultMap type="com.cauchy.mybatis.po.OrderCustom" id="orderUserResultMap">
		<!-- 映射订单信息 -->
		<!-- id : 指定查询列中订单信息中的唯一标识，如果有多个列组成唯一标识，则需要多个id -->
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="number" property="number"/>
		<result column="createtime" property="createTime"/>
		<result column="note" property="note"/>
		<!-- 映射用户信息 -->
		<!-- association 用于映射关联单个对象的信息，property要将关联信息映射到order的哪一个属性 -->
		<association property="user" javaType = "com.cauchy.mybatis.po.User">
			<!-- 关联用户的唯一标识 ，用户标识用户信息的列-->
			<id column="user_id" property="id"/>
			<result column="username" property="userName"/>
			<result column="sex" property="sex"/>
			<result column="address" property="address"/>
		</association>
	</resultMap>
	<select id="findOrderUserResultMap" resultMap="orderUserResultMap">
		select orders.* , user.username,user.sex,user.address from orders, user where orders.user_id = user.id
	</select>
	<resultMap type="com.cauchy.mybatis.po.Order" id="orderAndOrderDetailResultMap" extends="orderUserResultMap">
		<!-- 映射订单信息，使用继承标签可以控制冗余 -->
		<!-- 订单明细信息，每个订单有多个明细信息，要使用collection来处理ofType:指定要映射到集合pojo的属性名 -->
		<collection property="orderDetailList" ofType = "com.cauchy.mybatis.po.OrderDetail">
			<!-- 关联明细的唯一标识，property：要将对象的唯一标识对应的OrderDetail对象的属性 -->
			<id column="orderdetail_id" property = "id"/>
			<result column="item_id" property="itemId"/>
			<result column="item_num" property = "itemNum"/>
			<result column="order_id" property = "orderId"/>
		</collection>
	</resultMap>
	<select id="findOrderAndOrderDetailResultMap" resultMap = "orderAndOrderDetailResultMap">
		select orders.*,user.username,user.sex,user.address,orderdetail.id orderdetail_id,orderdetail.item_id,
		orderdetail.item_num,orderdetail.order_id from orders,user,orderdetail where orders.user_id = user.id and 
		orderdetail.order_id = orders.id
	</select>
	<resultMap type="com.cauchy.mybatis.po.User" id="userAndItemsResultMap">
		<!-- 用户信息 -->
		<id column = "user_id" property = "id"/>
		<result column ="username" property="userName"/>
		<result column ="sex" property = "sex"/>
		<result column ="address" property = "address"/>
		<!-- 订单信息，每个用户对应多个订单 -->
		<collection property="orderList" ofType = "com.cauchy.mybatis.po.Order">
			<id column="id" property="id"/>
			<result column="number" property="number"/>
			<result column="createtime" property="createTime"/>
			<result column = "note" property = "note"/>
			<!-- 订单明细 --> 
			<collection property="orderDetailList" ofType = "com.cauchy.mybatis.po.OrderDetail">
				<id column="orderdetail_id"	property="id"/>
				<result column="item_id" property = "itemId"/>
				<result column="item_num" property="itemNum"/>
				<result column="order_id" property="orderId"/>
				<!-- 每个商品对应一个 明细 -->
				<association property="item" javaType = "com.cauchy.mybatis.po.Item">
					<id column = "item_id" property = "id"/>
					<result column="item_name" property="name"/>
					<result column="item_detail" property="detail"/>
					<result column="item_price" property = "price"/>
				</association>
			</collection>
		</collection>
	</resultMap>
	<!-- 查询用户以及购买的商品信息 -->
	<select id="findUserAndItemsResultMap" resultMap = "userAndItemsResultMap">
		select orders.*,user.username,user.sex,user.address,orderdetail.id orderdetail_id,orderdetail.item_id,
		orderdetail.item_num,orderdetail.order_id,item.name item_name,item.detail item_detail,item.price 
		item_price from orders,user,orderdetail,item where orders.user_id = user.id and orderdetail.order_id 
		= orders.id and orderdetail.item_id = item.id
	</select>
</mapper>